body {
  background: #ebfafcd3;
}

h1 {
  color: rgb(93, 0, 255);
  text-align: center;
  font-family: "Lucida Handwriting", "Brush Script MT", "cursive";
  word-wrap: break-word;
}

h2 {
  color: blue;
  text-align: left;
  font-family: Garamond, "Courier New", "cursive";
  word-wrap: break-word;
}

p {
  color: rgb(1, 1, 64);
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word;
}

label {
  color: rgb(1, 1, 64);
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

summary {
  color: rgb(46, 5, 46);
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}

article {
  max-width: 600px;
  padding: 30px;
  text-align: left;
  background-color: #7de7f5;
}

section {
  background-image: url(./fundo.jpeg);
  background-size: cover;
  overflow: hidden;
}

dialog {
  background-color: rgb(1, 1, 64);
  color: #ebfafcd3;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word;
  text-decoration: none;
}